/* Custom styles go here */

.name { 
    font-size: 2.7rem;
}

.extra {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
}

/* Header */

.navbar-light .navbar-brand:hover {
    color: var(--blue);
}

.img-home {
    height: auto;
    max-width: 100%;
    display: block;
}

@media (max-width: 990px) {
    .img-hide {
        display: none;
    }

    .card-teacher-title, .card-text {
        height: auto;
    } 
}

/* ---- Cards ----*/

.card-project {
    display: flex;
    align-items: flex-start;
}

.card-publication {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.pagination-buttons div {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.card-teacher-img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-teacher{
    cursor: pointer;
    font-family: var(--headings);
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
    align-items: center;
  }
  .card-teacher-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--title);
    color: var(--blue);
  }

  .card-teacher-title{
    min-height: 4em;
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 100%;       
    margin: 0 auto;  
}

.card-text {
    font-size: .8rem;
    font-weight: 300;    
    height: 130px;
}

.publication-text {
    font-size: larger;
    font-weight: 400;
}

/* Buttons */

.btn-citacao {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 4px;
}

.btn-citacao:hover {
    background-color: var(--blue);
    color: var(--white);
}
