/* Custom styles go here */

.name { 
    font-size: 2.7rem;
}

.extra {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
}

/* Header */

.navbar-light .navbar-brand:hover {
    color: var(--blue);
}

.img-home {
    height: auto;
    max-width: 100%;
    display: block;
}

@media (max-width: 990px) {
    .img-hide {
        display: none;
    }

    .card-teacher-title, .card-text {
        height: auto;
    } 
}

/* ---- Cards ----*/

.card-teacher-img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.card-teacher{
    cursor: pointer;
    font-family: var(--headings);
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100%;
    align-items: center;
  }
  .card-teacher-title {
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--title);
    color: var(--blue);
  }

  .card-teacher-title, .card-text {
    min-height: 4em;
    display: flex;
    justify-content: center;
    text-align: center; 
    width: 100%;       
    margin: 0 auto;  
}

.card-text {
    font-size: .8rem;
    font-weight: 300;    
    height: 130px;
}

/*
{{ $authors := .Site.GetPage "/authors" }}
        {{ range $authors.Pages }}
        {{ partial "home_card_teacher.html" . }}
        {{ end }}
*/